.content{
    width: 100%;
    padding-bottom: 20px;
    background:#f6f6f6;
}
/* 父元素-横向排列（主轴） */
.flex-h {
    display: box;              /* OLD - Android 4.4- */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-orient: horizontal;
    /* 12版 */
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}
/* 父元素-纵向排列（主轴） */
.flex-z {
    display: box;              /* OLD - Android 4.4- */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 12版 */
    -webkit-flex-direction: column ;
    -moz-flex-direction: column ;
    -ms-flex-direction: column ;
    -o-flex-direction: column ;
    flex-direction: column ;
}
/* 子元素-平均分栏 */
.flex1 {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 20%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.flex2 {
    -webkit-box-flex: 2;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 2;         /* OLD - Firefox 19- */
    width: 40%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 2;          /* Chrome */
    -ms-flex: 2;              /* IE 10 */
    flex: 2;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.flex-justify{
    justify-content : space-between;
}
.flex-strat{
    justify-content : flex-start;
}
.fs_0{
    font-size: 0;
}
.dis_inlineBlock{
    display: inline-block;
    vertical-align: middle;
}
/* popup start */
.example-body {
    /* #ifndef APP-NVUE */
    display: block;
    /* #endif */
    padding: 5px 15px;
}

.button {
    flex: 1;
    margin: 10px 0;
}

.popup-content {
    /* #ifndef APP-NVUE */
    display: block;
    /* #endif */
    background-color: #fff;
    padding: 15px;
    font-size: 14px;
}

/* 提示窗口 */
.uni-tip {
    /* #ifndef APP-NVUE */
    display: flex;
    flex-direction: column;
    /* #endif */
    padding: 15px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
}

.uni-tip-title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.uni-tip-content {
    padding: 15px;
    font-size: 14px;
    color: #666;
}

.uni-tip-group-button {
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    flex-direction: row;
    margin-top: 20px;
}

.uni-tip-button {
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: #3b4144;
}

/* 插屏广告 */
.uni-image {
    position: relative;
}

.image {
    width: 200px;
    height: 200px;
}

.uni-image-close {
    margin-top: 20px;
    text-align: center;
}

/* 底部分享 */
.uni-share {
    /* #ifndef APP-NVUE */
    display: flex;
    flex-direction: column;
    /* #endif */
    background-color: #fff;
}

.uni-share-title {
    line-height: 60rpx;
    font-size: 24rpx;
    padding: 15rpx 0;
    text-align: center;
}

.uni-share-content {
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

.uni-share-content-box {
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    flex-direction: column;
    align-items: center;
    width: 200rpx;
}

.uni-share-content-image {
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60rpx;
    height: 60rpx;
    overflow: hidden;
    border-radius: 10rpx;
}

.content-image {
    width: 60rpx;
    height: 60rpx;
}

.uni-share-content-text {
    font-size: 26rpx;
    color: #333;
    padding-top: 5px;
    padding-bottom: 10px;
}

.uni-share-btn {
    height: 90rpx;
    line-height: 90rpx;
    font-size: 14px;
    border-top-color: #f5f5f5;
    border-top-width: 1px;
    border-top-style: solid;
    text-align: center;
    color: #666;
}
/* popup end */


/* swiper-dot start */
.swiper-box {
    height: 200px;
}

.swiper-item {
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $uni-text-color-grey;
    color: #fff;
}

.image {
    width: 750rpx;
}

.uni-bg-red {
    background-color: #ff5a5f;
}

.uni-bg-green {
    background-color: #09bb07;
}

.uni-bg-blue {
    background-color: #007aff;
}

.example-body {
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    flex-direction: row;
    padding: 20rpx;
}

.example-body-item {

    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15rpx;
    padding: 15rpx;
    height: 60rpx;
    /* #ifndef APP-NVUE */
    display: flex;
    padding: 0 15rpx;
    /* #endif */
    flex: 1;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.example-body-item-text {
    font-size: 28rpx;
    color: #333;
}

.example-body-dots {
    width: 16rpx;
    height: 16rpx;
    border-radius: 50px;
    background-color: #333333;
    margin-left: 10rpx;
}

.active {
    border-style: solid;
    border-color: #007aff;
    border-width: 1px;
}
/* swiper-dot end */